.heading-container {
    padding: 50px;
}

.title {
    color: #3D4276;
    text-transform: uppercase;
    opacity: 1;
    font-size: 28px;
    font-weight: 600;
}

.sub-title {
    margin-top: 5px;
    color: #949494;
    font-size: 18px;
}

.game-play-options-row {
    margin-bottom: 30px;
}

.button-image {
    margin-right: 24px;
}

.card-container-with-footer {
    background: #EEEEEE 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #00000029;
    border: 1px solid #F7F7F7;
    border-radius: 30px;
    opacity: 1;
    padding: 0 0 48px 0;
}

.home-page-content {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #00000029;
    border: 1px solid #F7F7F7;
    border-radius: 30px;
    opacity: 1;
    padding: 48px;
}

.footer {
    margin: 50px 50px 0 50px;
}

.image-position-absolute {
    @media screen and (min-width: 576px) {
        position: absolute;
        top: -100px;
    }
    @media screen and (min-width: 769px) {
        position: absolute;
        top: -150px;
        right: -150px;
    }
    @media screen and (max-width: 769px) {
        width: 100%;
        height: auto;
    }
}

.home-image-container {
    @media screen and (min-width: 576px) {
        margin-bottom: 300px;
    }
    @media screen and (min-width: 769px) {
        margin-bottom: 500px;
    }
}

.play-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle-play {
    background: #FF7243 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 50px #FF724373;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #424242;
    font-size: 22px;
}